// Structure 
$header_height: 110px;
$header_height_mobile: 120px;

$mobile_width: 766px;
$tablet_width: 930px;
$desktop_width: 1170px;
$wide_width: 1920px;


// Couleurs
$firstColor: #000; // Couleur principale du site : titre principal, fonds...
$secondColor: #777777; // Couleur secondaire du site : titres, menus...
$thirdColor: #fff; // Couleur secondaire du site : titres, menus...

$innerWidth: 1100px;
$innerSmallWidth : 730px;
$base-font-size: 16px;